.grafico {
    position: relative;
    margin: auto;
    width: calc(40% + 100px);
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px;
    padding: 10px;
    color: #b51212;
}

.resumo {
    padding: 20px 20px;
    border-bottom: thin solid #ff0000;
}

.mensagem{
    margin-left: 20px;
    margin-top: 15px;
}